._local {
  &.borderless {
    :global {
      .text_wrap {
        border-color: transparent;
      }
    }
  }

  :global {
    .omni-select-disabled,
    .omni-select-open {
      .icon_wrap,
      img {
        opacity: 0.3;
      }
    }

    .text_wrap {
      height: 26px;
      line-height: 26px;
      padding: 0 7px;
      border: var(--border);
      border-radius: var(--radius);

      &.placeholder {
        color: var(--color_text_light);
      }
    }

    .omni-select-selector {
      .omni-select-selection-item {
        border-radius: var(--radius_small_0) !important;
      }
    }
  }
}

.label {
  :global {
    .icon_wrap {
      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.popup {
  :global {
    .omni-select-item {
      padding: 3px 9px !important;
    }

    .omni-select-item-empty {
      display: flex !important;
      justify-content: center;

      .omni-spin {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.loading_wrap {
  padding: 8px 0;
  border: var(--border);
  border-radius: var(--radius);
  background-color: var(--color_bg);
}
