# dependencies
node_modules
npm-debug.log*
*-lock.json

# production
**/dist
.next
.open-next
.vercel
.wrangler
.turbo

!packages/stk/dist
!packages/appframe/dist
!packages/omnitable/dist

# misc
.DS_Store
.idea
.svn
.swc
@mf-types
.husky/_

# temp
**/.tmp

# Electron
release
src/main/bundle.js
src/main/bundle.js.map