@keyframes rotate {
	to {
		rotate: 360deg;
	}
}

.header_wrap {
	margin-bottom: 12px;

	:global {
		.ani-popover-inner {
			padding: 16px !important;
		}

		.fields_popover {
			.ani-popover-inner {
				padding: 8px !important;
			}
		}

		.header_btn_wrap {
			height: 30px;
			line-height: 30px;
			padding: 0 12px;
			border: var(--border);
			border-radius: var(--radius);
			outline: none;
			background-color: unset;
			box-shadow: none;
			user-select: none;
			transition: all ease 0.3s;

			&:hover {
				border-color: var(--color_text);
			}

			&.square {
				width: 30px;
				padding: 0;
			}

			&.refreshing {
				svg {
					&:local {
						animation: rotate linear 1.5s infinite;
					}
				}
			}

			&.living {
				border-color: var(--color_text);
			}

			.icon {
				font-size: 16px;
			}

			.label {
				margin-left: 4px;
				font-weight: 500;
			}

			.counts {
				height: 16px;
				padding: 0 4.8px;
				margin-left: 6px;
				border-radius: var(--radius_small_0);
				background-color: var(--color_bg_1);
				font-size: 12px;
			}

			.group_fields {
				margin-left: 6px;

				.group_field {
					&:last-child {
						.caret {
							display: none;
						}
					}
					.counts {
						margin-left: 0;
					}
				}

				.caret {
					margin: 0 2px;
				}
			}
		}
	}
}

.popover_wrap {
	min-width: 360px;

	&.group_wrap {
		:global {
			.acc_wrap {
				.title {
					margin-bottom: 16px;
				}

				.ani-form-item {
					margin-bottom: 24px;
				}

				.ani-select-selector {
					.ani-select-selection-item {
						border-radius: var(--radius_small_0) !important;
					}
				}
			}
		}
	}

	&.fields_wrap {
		min-width: unset;

		:global {
			.field {
				padding: 2px 6px;
				border-radius: var(--radius);

				&:hover {
					background-color: var(--color_bg_1);
				}

				&:active {
					background-color: var(--color_bg_2);
				}

				.field_left {
					gap: 8px;

					.name {
						user-select: none;
					}
				}

				.btn_drag {
					width: 16px;
					height: 16px;
					margin-left: 24px;
				}
			}
		}
	}

	&.has_range_picker {
		:global {
			.form_list_items {
				.form_list_item {
					.filter_value {
						width: 360px;
					}
				}
			}
		}
	}

	:global {
		.title {
			line-height: 1;
			font-size: 16px;
			font-weight: 500;
		}

		.desc {
			margin-top: 3px;
			color: var(--color_text_greylight);
		}

		.form_list_items {
			gap: 8px;

			.form_list_item {
				margin-bottom: 0;
				gap: 8px;

				&:first-child {
					margin-top: 16px;
				}

				.ani-form-item {
					margin-bottom: 0;
				}

				.field_name {
					flex: 1;
					width: 132px;
				}

				.sort_value {
					min-width: 96px;
				}

				.expression_value {
					width: 150px;
				}

				.filter_value {
					width: 150px;
				}

				.btn {
					width: 30px;
					padding: 0;
					font-size: 16px;
				}
			}
		}

		.form_list_actions {
			margin-top: 8px;
			gap: 8px;

			&.has_items {
				margin-top: 16px;

				&.filter_actions {
					margin-left: -80px;
				}
			}
		}

		.relation_wrap {
			width: 72px;
			color: var(--color_text_greylight);

			.relation_item {
				height: 30px;
			}
		}
	}
}

._local {
	outline: none;

	:global {
		.querying_wrap {
			z-index: 300;
			border-radius: var(--radius);
			background-color: rgba(var(--color_bg_rgb), 0.81);
		}

		.loading_wrap {
			height: 300px;
			border: var(--border);
			border-radius: var(--radius);
		}

		.table_container {
			overflow-x: auto;
			overflow-y: hidden;
			box-sizing: border-box;
			border: var(--border);
			border-radius: var(--radius);

			&.clone {
				border-top: unset;
				border-right-color: transparent;
				border-bottom: unset;
				border-left-color: transparent;
				border-radius: unset;
			}
		}

		.table_wrap {
			border-spacing: 0;
			border-collapse: separate;

			&.border_style {
				th,
				td {
					padding: 6px 8px;
					border-right: var(--border);

					&:first-child {
						padding-left: 8px;
					}

					&:last-child {
						padding-left: 6px;
						border-right: none;
					}
				}
			}

			th,
			td {
				box-sizing: border-box;
				padding: 10px 8px;
				border-bottom: var(--border);

				&:first-child {
					padding-left: 12px;
				}

				&:last-child {
					padding-left: 12px;
				}
			}

			thead {
				tr {
					&.selected {
						th {
							border-bottom-color: var(--color_text);
						}
					}

					th {
						z-index: 101;
						background-color: var(--color_bg);
						text-align: left;
						white-space: nowrap;
						font-weight: 500;

						&.sort {
							user-select: none;

							&:hover {
								background-color: var(--color_bg_1);
							}

							&:active {
								background-color: var(--color_bg_2);
							}
						}

						.table_sort {
							display: inline-flex;
							margin-left: 6px;
							color: var(--color_text_greylight);
							font-size: 10px;

							&.order {
								.asc,
								.desc {
									margin: 0;
								}
							}

							.asc {
								margin-bottom: -2px;
							}

							.desc {
								margin-top: -2px;
							}
						}
					}
				}
			}

			tbody {
				tr {
					&:last-child {
						&.selected {
							td {
								border-bottom: 1px solid var(--color_text);

								&:first-child {
									border-bottom-left-radius: var(--radius);
								}

								&:last-child {
									border-bottom-right-radius: var(--radius);
								}
							}
						}

						td {
							border-bottom: none;
						}
					}

					&:hover,
					&.stat_row {
						td {
							background-color: var(--color_bg_1) !important;
						}
					}

					&:hover,
					&.selected {
						&.has_row_bg {
							td {
								background-color: color-mix(in srgb, var(--row_bg) 7.2%, transparent) !important;
							}
						}
					}

					&.stat_row {
						&:hover {
							td {
								background-color: var(--color_bg_2) !important;
							}
						}
					}

					&.selected,
					&.selected_prev {
						td {
							border-bottom-color: var(--color_text);
						}
					}

					&.selected {
						td {
							&:first-child {
								border-left: 1px solid var(--color_text);
							}

							&:last-child {
								border-right: 1px solid var(--color_text);
							}
						}
					}

					&.has_row_bg {
						td {
							background-color: color-mix(in srgb, var(--row_bg) 3%, transparent);
						}
					}

					td {
						white-space: nowrap;

						&.operation {
							position: sticky;
							z-index: 100;
							right: 0;
							background-color: var(--color_bg);
						}

						&.sticky {
							z-index: 100;
							background-color: var(--color_bg);
						}

						.btn_toggle_group {
							width: 1.2em;
							height: 1.2em;
							margin-right: 8px;
							border-radius: var(--radius_small);
							font-size: 1em;
							translate: 0 0.15em;

							&:hover {
								background-color: var(--color_bg_2);
							}

							&.visible {
								rotate: 90deg;
							}
						}
					}
				}
			}
		}
	}
}

.Pagination {
	padding: 12px 0;

	:global {
		.ani-pagination {
			position: relative;
			align-items: center;

			.ani-pagination-total-text {
				position: absolute;
				left: 0;
				color: var(--color_text_greylight);
			}
		}
	}
}

.Detail {
	padding: 18px !important;

	:global {
		.ani-form-item {
			margin-bottom: 18px;

			&-label {
				font-weight: 500;
			}
		}

		.ani-picker {
			height: 30px;
			line-height: 30px;
		}

		.actions_wrap {
			padding: 9px 0;

			background-color: var(--color_bg);
			gap: 12px;
		}
	}
}

.Drawer {
	:global {
		.btn_add_view {
			right: 18px;
			height: 24px;
			line-height: 24px;
			padding: 0 8px;
			border-radius: var(--radius_small);
			color: white;
			background-color: var(--color_text);
			gap: 4px;

			&:hover {
				outline: 3px solid var(--color_border_light);
			}
		}
	}
}
