._local {
	&.use_by_form {
		display: flex;
		height: 30px;
		line-height: 30px;
		padding: 0 7px;
		border: var(--border);
		border-radius: var(--radius);
		background-color: var(--color_bg_1);
	}

	&.disabled {
		background-color: var(--color_border_soft);
	}
}
