._local {
	&.use_by_form {
		:global {
			.ani-input {
				width: 100%;
				height: 30px;
				line-height: 30px;
				padding: 0 7px;
			}
		}
	}

	&.disabled {
		:global {
			.ani-input {
				background-color: var(--color_border_soft);
			}
		}
	}

	:global {
		.ani-input {
			overflow-x: unset;
			padding: 0;
		}
	}
}
