._local {
	&.use_by_form {
		:global {
			.ani-input {
				border: var(--border);
			}
		}
	}

	:global {
		.ani-input {
			resize: none;
			white-space: wrap;

			&-disabled {
				background-color: var(--color_border_soft);
			}
		}
	}
}
