._local {
	:global {
		[contenteditable] {
			outline: none;
		}

		.editor_wrap {
			border: var(--border);
			border-top: none;
			border-bottom-right-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
		}

		.tiptap {
			box-sizing: border-box;
			padding: 0 16px;

			&.resize-cursor {
				cursor: ew-resize;
				cursor: col-resize;
			}
		}

		.divider {
			width: 1px;
			height: 16px;
			background-color: var(--color_border);
		}

		p.is-editor-empty:first-child::before {
			float: left;
			height: 0;
			color: var(--color_text_light);
			content: attr(data-placeholder);
			pointer-events: none;
		}

		a {
			color: var(--color_text_sub);
			text-decoration: underline;
			text-underline-offset: 2px;

			&:hover {
				color: var(--color_blue);
				text-decoration: underline;
			}
		}

		h1 {
			font-size: 1.8em;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-block-start: 1.2em;
			color: var(--color_text);
			font-weight: 500;
		}

		h1,
		h2 {
			margin-block-end: 0.81em;
		}

		h3,
		h4,
		h5,
		h6 {
			margin-block-end: 1em;
		}

		blockquote {
			line-height: 1.5;
			box-sizing: border-box;
			padding-left: 18px;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: var(--editor_padding_x);
			margin-inline-end: var(--editor_padding_x);
			border-left: 3.6px solid var(--color_border_light);
			font-size: 0.72em;
		}

		video {
			width: 100%;
			max-width: 100%;
			border-radius: var(--radius);
		}

		img {
			max-width: 100%;
			border-radius: var(--radius_small);
		}

		figure {
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: 0;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;

			figcaption {
				color: var(--color_text_light);
				text-align: center;
				font-size: 0.72em;
			}
		}

		code {
			display: inline;
			margin: 0 3px;
			color: #ea80fc;
			word-break: break-word;
			font-family: var(--font_mono);
			font-size: 0.78em;

			&::before {
				content: "`";
			}

			&::after {
				content: "`";
			}
		}

		strong {
			font-weight: 500;
		}

		hr {
			width: 100%;
			height: 1px;
			border: none;
			background-color: var(--color_border_light);
		}

		pre {
			padding: 8px 12px;
			margin: 1em 0;
			border-radius: var(--radius_small);
			color: var(--color_bg);
			background: var(--color_text_sub);
			font-family: var(--font_mono);

			code {
				display: unset;
				margin: unset;
				color: inherit;
				word-break: unset;
				font-size: 0.8em;

				&::before,
				&::after {
					display: none;
				}
			}
		}

		.tableWrapper {
			overflow-x: auto;
			margin: 1em 0;
		}

		table {
			overflow: hidden;
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;

			:first-child {
				margin-top: 0;
			}

			td,
			th {
				position: relative;
				min-width: 1em;
				box-sizing: border-box;
				padding: 6px 8px;
				border: var(--border);
				vertical-align: top;

				> * {
					margin-bottom: 0;
				}
			}

			th {
				background-color: var(--color_bg_1);
				text-align: left;
				font-weight: bold;
			}

			.selectedCell:after {
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: var(--color_bg_2);
				content: "";
				pointer-events: none;
			}

			.column-resize-handle {
				position: absolute;
				top: 0;
				right: -1px;
				bottom: -2px;
				width: 3px;
				background-color: var(--color_text);
				pointer-events: none;
			}
		}
	}
}

.Toolbar {
	position: sticky;
	z-index: 100;
	top: 0;
	background-color: var(--color_bg);

	:global {
		.toolbar_wrap {
			padding: 6px;
			border: var(--border);
			border-top-left-radius: var(--radius);
			border-top-right-radius: var(--radius);
			gap: 4px;
		}

		.btn_wrap {
			width: 24px;
			padding: 0;
			border-radius: var(--radius_small);
			background-color: unset;
			transition: all ease 0.3s;
			font-size: 15px;
			aspect-ratio: 1;

			&:hover,
			&.active {
				background-color: var(--color_bg_2);
			}

			&:disabled {
				opacity: 0.3;
				background-color: unset;
			}
		}
	}
}
