._local {
	line-height: 1;
	font-size: 12px;
	gap: 8px;

	:global {
		.label {
			font-weight: 500;
		}

		.color_items {
			display: grid;
			margin-bottom: 8px;
			grid-template-columns: repeat(5, 1fr);
			gap: 8px;

			&:nth-of-type(2) {
				margin-bottom: 0;
			}

			&.color {
				span {
					color: var(--color);
					font-weight: 500;
				}
			}

			&.background {
				span {
					background-color: var(--color);
				}
			}

			span {
				width: 18px;
				border: 1px solid var(--border_color);
				border-radius: var(--radius_small);
				aspect-ratio: 1;

				&.active {
					outline: 1px solid var(--border_color);
				}
			}
		}
	}
}
