._local {
	:global {
		.table_example_wrap {
			width: 100%;
			min-height: 100vh;
			box-sizing: border-box;
			padding: 60px 36px;
			padding-top: 24px;
		}

		.nav_items {
			padding: 0 36px;
			padding-top: 24px;
			gap: 16px;

			.nav_item {
				color: var(--color_text_light);
				font-size: 12px;

				&:hover,
				&.active {
					color: var(--color_text);
				}
			}
		}
	}
}
